.principalCard {
  max-height: 32em;
}
.numTarea {
  background-color: #818e78;  
}

.cuerpoTarea {
  background-color: #fad9a1;
  max-height: 18px;
  min-height: 18em;
  overflow-y: auto;
}
.footerCard {
  background-color: #fad9bb;
}

.pieTarea {
  background-color: #f37878;
}
