* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navegad {
  background-color: #b2df95;
}

#cuerpo {
  height: inherit;
}

.numTarea {
  background-color: #d9f8c4;
}

.cuerpoTarea {
  background-color: #fad9a1;
  max-height: 250px;
  overflow-y: auto;
}

.pieTarea {
  background-color: #f37878;
}

.boton {
  background-color: #abc797;
  color: black;
  margin-left: 2%;
  margin-top: 2%;
}

.footerCard {
  background-color: #fad9a1;
}

.center {
  background-attachment: fixed;
}
