* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navegad {
  background-color: #b2df95;
}

.boton {
  background-color: #abc797;
  color: black;
  margin-left: 2%;
  margin-top: 2%;
}

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
